@model BlogApp.Models.ShowArticleViewModel

@{
    ViewData["Title"] = "Details";
}

<h1> Details</h1>

<div>
    <h4>Article</h4>
    <form asp-action="Delete" asp-route-id="@Model?.Article.ArticleID">
        <input type="hidden" asp-for="Article.ArticleID" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
    <br>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Article.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Article.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Article.Body)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Article.Body)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Article.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Article.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Article.UpdatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Article.UpdatedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Article.ArticleID">Edit</a>
    <a asp-action="Delete" asp-route-id="@Model?.Article.ArticleID">Edit</a>
    <a asp-action="Index">Back to List</a>
</div>
<div>
    <h4>Comments</h4>

@*    @foreach (var item in Model.Article.Comments)
    {
        <dt class="col-sm-2">
            @Html.DisplayNameFor(modelItem => item.Commenter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(modelItem => item.Commenter)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(modelItem => item.Body)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(modelItem => item.Body)
        </dd>
    }
*@
</div>
@await Html.PartialAsync("_CreateComment", Model.Comment, new ViewDataDictionary(ViewData){{"ArticleID", Model.Article.ArticleID}})